@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui" {
    themes: light --default, dark  --prefersdark;
    logs: true;
};

@plugin "daisyui/theme" {
    name: "light";
    default: true;
    --color-primary: #f07f13;
    --color-secondary: #333e48;
};

a.active {
    font-weight: 900;
    font-size: 18px;
    color: #f07f13;
};